[submodule "CharacterProject/Assets/MyTools"]
	path = CharacterProject/Assets/MyTools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "3DEssentianlsResources"]
	path = 3DEssentianlsResources
	url = https://github.com/anthonyromrell/3DEssentianlsResources
[submodule "CharacterProject/Assets/UnityScriptingFoundation"]
	path = CharacterProject/Assets/UnityScriptingFoundation
	url = https://github.com/anthonyromrell/UnityScriptingFoundation.git
